 *{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}
html{
    scroll-behavior:smooth;
}
body{
    background:#f4f7fb;
    color:#071a31;
}
.top{
    margin-top:0px;
    min-height:300px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:40px 10%;
    background:linear-gradient(120deg,#cf43c8,#181889);
    color:#fff;
}
.top-content{
    max-width:900px;
    width:100%;
    margin:auto;
}
.tag{
    display:inline-block;
    padding:8px 18px;
    background:#ffffff;
    color:#4338ca;
    border-radius:30px;
    font-size:14px;
    font-weight:600;
    margin-bottom:20px;
}

.top p{
    font-size:15px;
    line-height:1.6;
    max-width:650px;
    margin:0 auto;
}
.top-buttons{
    margin-top:35px;
}
.primary-btn,
.secondary-btn{
    display:inline-block;
    text-decoration:none;
    padding:14px 34px;
    margin:8px;
    border-radius:8px;
    transition:.3s;
    font-weight:600;
}
.primary-btn{
    background:#fff;
    color:#4338ca;
}
.primary-btn:hover{
    background:#ddd6fe;
}
.secondary-btn{
    color:#fff;
    border:2px solid #fff;
}
.secondary-btn:hover{
    background:#fff;
    color:#4338ca;
}
section{
    padding:80px 10%;
}
.section-title{
    text-align:center;
    margin-bottom:40px;
}
.section-title h2{
    color:#312e81;
    font-size:34px;
}
.overview-box{
    max-width:900px;
    margin:auto;
    background:#fff;
    padding:35px;
    border-radius:14px;
    box-shadow:0 8px 18px rgba(0,0,0,.08);
}
.duration-card{
    display:flex;
    align-items:center;
    gap:18px;
    margin-top:25px;
    background:#ede9fe;
    padding:18px;
    border-radius:10px;
}
.duration-card i{
    font-size:32px;
    color:#5b21b6;
}
.benefit-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
    gap:25px;
}
.benefit-card{
    background:#fff;
    padding:30px;
    text-align:center;
    border-radius:15px;
    box-shadow:0 8px 18px rgba(0,0,0,.08);
    transition:.3s;
}
.benefit-card:hover{
    transform:translateY(-8px);
}
.benefit-card i{
    font-size:40px;
    color:#5b21b6;
    margin-bottom:15px;
}
.benefit-card h3{
    margin-bottom:12px;
}
.skills-list{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:16px;
    align-items: center;
    flex-direction: column;
}
.skill-item{
    width:280px;
    background: #ffffff;
    color:#1f2937;
    padding:15px 20px;
    border-radius:12px;
    background:#e3e2e5;
    text-align: center;
    font-weight:600;
    box-shadow: 0 5px 12px rgba(0,0,0.8);
    transition:.3s;
}
.skill-item:hover{
    background:#f5f3ff;
    transform:translateY(-4px);
}
.join-now{
    background:#92829d;
    color:#fff;
    text-align:center;
}
.join-now h2{
    margin-bottom:15px;
    font-style:italic;
}
.join-now p{
    margin-bottom:25px;
}
footer{
    background:#111827;
    color:#fff;
    text-align:center;
    padding:40px 20px;
}
footer h3{
    margin-bottom:15px;
}
footer p{
    margin:8px 0;
}
@media(max-width:768px){
.top h1{
    font-size:34px;
}
.top-buttons a{
    display:block;
    width:220px;
    margin:12px auto;
}
.duration-card{
    flex-direction:column;
    text-align:center;
}
}